*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
.navbar{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background:rgb(0, 0, 0,0.6) !important;
    padding: 20px,0;
}
.navbar-dark .nav-link .navbar-nav{
    color: white;
    padding-left: 20px;

}
.navbar-dark .nav-link .navbar-nav.active,
.navbar-dark .nav-link .navbar-navh:hover{
    color:#1ebba3;
}
.heading-content{
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 100%;
}
.heading-content h5{
    font-size: 3em;
    font-weight: 300;
    font-family: monospace;
    color: white;
}
.heading-content h1{
    font-size: 4em;
    font-weight: bolder;
    font-family: 'Montserrat',sans-serif;
    color: white;
}
.heading-content p{
    font-size: 1em;
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
    color: #ccc;
    word-spacing: 5px;
}

#about .btn{
    width:40%;
    padding: 15px 22px;
    background-color: black;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#about .btn a{
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
#about .btn a:hover{
    border: 2px solid black;
    color:black;
    background-color:none;
}
.card{
    height: 70%;
}
.card-img-top{
    width: 80%;
    height: auto;
}